extends templates/_layout

block vars

block title
  title Pretty Open Type

block content 
  
  //- LOADING GOOGLE FONTS
  - var googleFonts = [];

  - for ( num in fonts ) { 
    - font = fonts[num]
    - name = font.name

    - if ( font.from == 'google' ) {
      - googleFonts.push( name.replace(' ', '+') )
    - }
  - }
  
  - var googleFontsList = googleFonts.join('|');
  
  link(href='http://fonts.googleapis.com/css?family=#{googleFontsList}', rel='stylesheet', type='text/css')
  //- Fin loading

  .wrap

    header.page-header
      h1.page-title Pretty Open Type
      .tagline 
        | A sweet collection of beautiful free fonts.
      .subtitle 
        div 
          em By <a href="http://namanyayg.com/" rel="designer">Namanyay Goel</a>
        nav.small-nav 
          a(href="https://github.com/namanyayg/pretty-open-type/") View on Github
          a(href="https://github.com/namanyayg/pretty-open-type/blob/master/CONTRIBUTE.md") Contribute fonts


    .fonts.js-isotope.stack.stack-clean
      - for ( num in fonts ) { 
        - font = fonts[num]
        - name = font.name
        //- Init fonts and name
      
        .sympl.half.m-full

          - if ( font.from == 'google' ) {
            - url = "//google.com/fonts/specimen/" + name.replace(' ', '+')
            - use = "<link href='http://fonts.googleapis.com/css?family=" + name.replace(' ', '+') + "' rel='stylesheet' type='text/css'>"
          - }

          section.font-block(data-name="#{name}", data-from="#{font.from}", data-type="#{font.type}", class="font-block font-#{font.type}")
            .preview(style="font-family: #{name}") The five boxing wizards jump quickly 123456789
            .text 
              header
                h1.title= name

              footer
                .type
                  div= font.type
                .urls
                  .url.use
                    strong Use: 
                    span= use
                  .url.page
                    strong View: 
                    a(href="#{url}")= url
      
      - }
    
